{{define "agregarCliente"}}
{{template "header"}}
<div class="card">
    <form method="post" action="/clientes">
        <label for="name">Nombre: </label>
        <input id="name" name="name"/>
        <label for="correo">Correo: </label>
        <input id="correo" name="correo" type="email"/>
        <label for="telefono">Teléfono: </label>
        <input id="telefono" name="telefono" type="tel" />
        <label for="direccion">Dirección: </label>
        <input id="direccion" name="direccion"/>
        <button type="submit">Agregar Cliente</button>
    </form>
</div>
{{template "footer"}}
{{end}}
