{{define "clientes"}}
{{template "header"}}
<button><a href="/agregar-cliente">Agregar Nuevo Cliente</a></button>
<table>
    <thead>
        <tr>
            <th>id_cliente</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{range.}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Nombre}}</td>
            <td>{{.Correo}}</td>
            <td>{{.Telefono}}</td>
            <td>{{.Direccion}}</td>
            <td>Editar {{.Id}} |
                <button><a href="/borrar-cliente?id={{.Id}}">Borrar</a></button>
            </td>
        </tr>
        {{end}}Calle
    </tbody>
</table>
{{template "footer"}}
{{end}}
