{{define "clientes"}}
{{template "header"}}
<button><a href="/agregar-cliente">Agregar Nuevo Cliente</a></button>
<table>
    <thead>
        <tr>
            <th>id_cliente</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Juan</td>
            <td>hola@yo.com</td>
            <td>32382398</td>
            <td>Calle 5</td>
            <td>Editar | Borrar</td>
        </tr>
    </tbody>
</table>
{{template "footer"}}
{{end}}
