{{define "editarProducto"}}
{{template "header"}}
<div class="card">
    <form method="post" action="/actualizar-producto">
        <div>
            <input type="hidden" id="codigo" name="codigo" value={{.IdProd}} />
        </div>
        <label for="nombre">Nombre: </label>
        <input id="nombre" name="nombre" value={{.NombreProd}} />
        <label for="categoria">Categoria: </label>
        <input id="categoria" name="categoria" value={{.Categoria}} />
        <label for="precio">Precio: </label>
        <input id="precio" name="precio" type="number" value={{.Precio}} />
        <label for="stock">Stock: </label>
        <input id="stock" name="stock" type="number" value={{.Stock}} />
        <button type="submit">Modificar Producto</button>
    </form>
</div>
{{template "footer"}}
{{end}}
