{{define "header"}}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
</head>

<body>
    <nav>
    <li><a href="/">Clientes</a></li>
    <li><a href="/lista-productos">Productos</a></li>
    <li><a>Cerrar Sesión</a></li>
    </nav>
    <div class="container">
{{end}}
