{{define "header"}}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/lista-clientes">Clientes</a></li>
            <li><a href="/lista-productos">Productos</a></li>
            <li><a href="/">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <div class="container">
{{end}}
