{{define "productos"}}
{{template "header"}}
<button><a href="/agregar-producto">Agregar Nuevo Producto</a></button>
<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{range.}}
        <tr>
            <td>{{.IdProd}}</td>
            <td>{{.NombreProd}}</td>
            <td>{{.Categoria}}</td>
            <td>{{.Precio}}</td>
            <td>{{.Stock}}</td>
            <td>
                <button><a href="/editar-producto?id={{.Id}}">Editar</a></button> |
                <button><a href="/borrar-producto?id={{.Id}}">Borrar</a></button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{template "footer"}}
{{end}}
