{{define "registro"}}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/lista-clientes">Clientes</a></li>
            <li><a href="/lista-productos">Productos</a></li>
        </ul>
    </nav>
    <div class="container">

<form method="POST" action="/registro">
    <div>
        <label for="username">Usuario: </label>
        <input id="username" name="username" />
    </div>
    <div>
        <label for="password">Contraseña: </label>
        <input id="password" name="password" type="password" />
    </div>
    <button type="submit">Registrarse</button>
    <button><a href="/">Volver</a></button>
</form>
{{template "footer"}}
{{end}}
