{{define "userLogin"}}
{{template "header"}}
<form method="POST" action="/login">
    <div>
        <label for="username">Usuario: </label>
        <input id="username" name="username" />
    </div>
    <div>
        <label for="password">Contraseña: </label>
        <input id="password" name="password" />
    </div>
    <button><a href="/lista-clientes">Iniciar Sesión</a></button>
    <button><a href="/form-registro">Registrarse</a></button>
</form>
{{template "footer"}}
{{end}}
